src/main/resources/score.xsd

<xs:schema xmlns="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.soapintegration.example.org/"
           xmlns:tns="http://www.soapintegration.example.org/"
           elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="getScoreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getScoreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="score" type="tns:score"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="score">
        <xs:sequence>
            <xs:element name="user" type="xs:string"/>
            <xs:element name="wins" type="xs:int"/>
            <xs:element name="losses" type="xs:int"/>
            <xs:element name="ties" type="xs:int"/>
        </xs:sequence>

    </xs:complexType>
</xs:schema>